
$themePrimaryColor: #eee;
$themePrimaryDarkColor: #ccc;
$themeAccentColor: #aaa;

body {
    line-height: 1.4em;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.folder- {
  background: #DDDDDD;
  color: #AAAAAA;
}

.folder-none {

}

.folder-f {
  background-color: #BBDEFB;
}

.folder-e {
  background-color: #64B5F6;
}

.folder-d {
  background-color: #FFECB3;
}

.folder-c {
  background-color: #FFD54F;
}

.folder-b {
  background-color: #FFCDD2;
}

.folder-a {
  background-color: #E57373;
}

header {
    padding: .3em .3em;
    width: 100%;
    background-color: $themePrimaryColor;

    #brand-title {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }

    #brand-description {
        font-size: .8em;
    }
}

footer {
    padding: .5em 1em;
    width: 100%;
    background-color: $themePrimaryDarkColor;
    color: $themeAccentColor;
}

#app-content {
    width: 100%;
    .tabbar {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        display: table;
        border-collapse: collapse;

        .link {
            text-align: right;
            right: 0;
            padding: .3em;
        }

        ul {
            display: table-row;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        li {
            display: table-cell;
            margin: 0;
            border: 1px #aaaaaa solid;
        }
        li a {
            display: block;
            text-decoration: none;
            padding: .8em 1em;
            color: #444444;
        }
        li.active {
            background-color: $themePrimaryColor;
        }
        li a:hover {
            background-color: #999999;
            color: #ffffff;
        }
    }

    table {
        margin: auto;
        border-collapse: collapse;

        .cell-data {
            width: 72px;
            text-align: center;
        }
    }
    .caption {
        padding: .5em;
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
    }

    .guide {
        th, td {
            min-width: 32px;
            border: 1px #aaaaaa solid;
            text-align: center;
        }
    }

    .musics {
        max-width: 960px;
        border-collapse: collapse;
        td, th {
            padding: .8em .3em;
            border-top: 1px #eeeeee solid;
            border-bottom: 1px #eeeeee solid;
        }
        th {
            text-align: left;
        }
    }

    hr {
        margin: 2em 0;
    }
}
