* {
    box-sizing: border-box;
}

body {
    line-height: 1.4em;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.folder- {
  background: #DDDDDD;
  color: #AAAAAA;
}

.folder-none {

}

.folder-f {
  background-color: #BBDEFB;
}

.folder-e {
  background-color: #64B5F6;
}

.folder-d {
  background-color: #FFECB3;
}

.folder-c {
  background-color: #FFD54F;
}

.folder-b {
  background-color: #FFCDD2;
}

.folder-a {
  background-color: #E57373;
}

header {
    padding: .3em .3em;
    width: 100%;
    background-color: #eee;
}

header #brand-title {
    font-size: 1em;
    font-weight: bold;
}

header #brand-description {

}

footer {
    padding: .5em 1em;
    width: 100%;
    background-color: #ccc;
    color: #aaa;
}

#app-content {
    width: 100%;
}

#app-content .tabbar {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
}

#app-content .tabbar .link {
    text-align: right;
    right: 0;
    padding: .3em;
}

#app-content .tabbar ul {
    display: table-row;
    width: 100%;
    margin: 0;
    padding: 0;
}

#app-content .tabbar li {
    display: table-cell;
    margin: 0;
    border: 1px #aaaaaa solid;
}

#app-content .tabbar li a {
    display: block;
    text-decoration: none;
    padding: .8em 1em;
    color: #444444;
}

#app-content .tabbar li.active {
    background-color: #eee;
}

#app-content .tabbar li a:hover {
    background-color: #999999;
    color: #ffffff;
}

#app-content table {
    margin: auto;
    border-collapse: collapse;
}

#app-content table .cell-data {
    width: 72px;
    text-align: center;
}

#app-content .caption {
    padding: .5em;
    max-width: 960px;
    margin: 0 auto;
}

#app-content .guide th, #app-content .guide td {
    min-width: 32px;
    border: 1px #aaaaaa solid;
    text-align: center;
}

#app-content .musics {
    max-width: 960px;
    border-collapse: collapse;
}

#app-content .musics td, #app-content .musics th {
    padding: .8em .3em;
    border-top: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
}

#app-content .musics th {
    text-align: left;
}
