<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>皿ありDBMステップアップ</title>
    <meta name="description" content="自作の皿ありDBMステップアップフォルダ">
    <meta name="author" content="ichigotake">
    <meta name="keywords" content="DBM,皿有,皿あり,さらあり,beatmania,IIDX,弐寺">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style><%= style %></style>
  </head>
  <body>
    <header>
      <h1 id="brand-title"><a href="./">皿あり DBM</a></h1>
      <div id="brand-description">
        自作のステップアップフォルダを試験運用中です。クリア難度ではなく、皿絡みの一番難しい要素を査定します。
      </div>
    </header>

    <div id="app-content">

      <%- include('./include/guide.ejs') %>

      <div class="tabbar">
        <ul>
          <% grades.forEach(function (value) { %>
              <li<% if (value.name === grade.name) { %> class="active"<% } %>><a href="level-<%= value.name %>.html">☆<%= value.levels.join(',') %></a></li>
          <% }); %>
        </ul>
      </div>

      <hr>

      <div class="news">
        <h2>LINEアカウントができました！</h2>

        <p>友だち追加をして「8」「6E」のようにレベルやフォルダ名を入力することでランダムセレクトができます！</p>

        <img class="image" src="/img/line-bot.png">

        <div class="line-add-friends">
          <h3>QRコードまたはボタンから友だちに追加する</h3>
          <a href="https://line.me/R/ti/p/%40tna8227e"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
          <br>
          <img src="http://qr-official.line.me/L/JOBcpggnv5.png">

        </div>

      </div>
    </div>

  </body>
</html>
