<md-sidenav-layout class="m2app-dark">

  <md-toolbar [color]="primary">
    <h1 id="brand">DBM 皿難易度表(α)</h1>

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="showChangelog()">更新: 2016-11-12</button>
  </md-toolbar>

  <div class="app-content">
    <div id="attention">
      <p id="description">試験運用中です。</p>
      <ul id="policy">
        <li>皿絡みを査定する(基本的に皿なし鍵盤地帯は考慮しない)</li>
        <li>選曲による大事故を防ぐためのものであり、管理者査定では完璧を求めない(指摘は考慮する)</li>
        <li>管理者が未プレイの譜面は未査定</li>
        <li><a href="https://goo.gl/forms/rOq0kbErExWYX7BZ2">難易度の評価方法等へのご意見はこちら（匿名）</a></li>
      </ul>
    </div>
    <table>
      <caption>
        <div class="list-folder">
          <ul class="list-folder">
            <li>やさしい</li>
            <li class="folder-none">-</li>
            <li class="folder-f">F</li>
            <li class="folder-e">E</li>
            <li class="folder-d">D</li>
            <li class="folder-c">C</li>
            <li class="folder-b">B</li>
            <li class="folder-a">A</li>
            <li>むずかしい</li>
          </ul>
        </div>
      </caption>
      <thead>
        <tr>
          <th class="data-table__cell--data">
            <select (change)="changeLevel($event.target.value)">
              <option value="all">ALL</option>
              <option value="6" selected>6</option>
              <option value="7">7</option>
            </select>
          </th>
          <th class="data-table__cell--data">
            <select (change)="changeFolder($event.target.value)">
              <option value="all">ALL</option>
              <option *ngFor="let folder of folders">{{ folder }}</option>
              <option value="">(未査定)</option>
            </select>
          </th>
          <th></th>
        </tr>
        <tr>
          <th class="data-table__cell--data">LEVEL</th>
          <th class="data-table__cell--data">FOLDER</th>
          <th>TITLE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let music of musics" class="folder-{{ music.folder.toLowerCase() }}">
          <td class="data-table__cell--data">{{ music.level }}</td>
          <td class="data-table__cell--data">{{ music.folder }}</td>
          <td>{{ music.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-sidenav-layout>