<div class="dialog">

    <div class="clear">
        <div class="dialog-close" (click)="dialogRef.close()">[ X ]</div>
    </div>

    <h1>次回更新予定</h1>

    <div class="changelog-container">
        <ul>
            <li>☆6,7 の全 FOLDER を公開(未プレイを除く)</li>
            <li>ソート機能の実装</li>
        </ul>
    </div>
    
    <h1>更新履歴</h1>

    <div class="changelog-container">
        <h2>2016-11-04</h2>
        <ul>
            <li>LEVEL と FOLDER で絞り込む機能を実装</li>
            <li>ご意見フォームを設置</li>
        </ul>
    </div>

    <div class="changelog-container">
        <h2>2016-11-02</h2>
        <ul>
            <li>「DBM 皿難易度表(α)」として ☆6,7 F,E,D FOLDER を公開</li>
        </ul>
    </div>

</div>