<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>皿ありDBMステップアップ</title>
    <meta name="description" content="自作の皿ありDBMステップアップフォルダ">
    <meta name="author" content="ichigotake">
    <meta name="keywords" content="DBM,皿有,皿あり,さらあり,beatmania,IIDX,弐寺">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" rel="text-html" href="/main.css">
  </head>
  <body>
    <header>
      <h1 id="brand-title"><a href="./">皿あり DBM</a></h1>
      <div id="brand-description">
        自作のステップアップフォルダを試験運用中です。<br>
        クリア難度ではなく、皿絡みの一番難しい要素を査定します。
      </div>
    </header>

    <div id="app-content">

      <%- include('./include/guide.ejs') %>

      <div class="tabbar">
        <ul>
          <% grades.forEach(function (value) { %>
              <li<% if (value.name === grade.name) { %> class="active"<% } %>><a href="level-<%= value.name %>.html">☆<%= value.levels.join(',') %></a></li>
          <% }); %>
        </ul>
      </div>

      <hr>

      <h2>不正DBM（外部リンク）</h2>

      <p>一か月ごとに決められた楽曲のミスカウントを競う皿ありDBMのイベントです。</p>
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E4%B8%8D%E6%AD%A3DBM" data-widget-id="850504197468323840">#不正DBM のツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
    </div>
    </div>

    <footer>
    </footer>
  </body>
</html>
