      <table class="guide">
        <thead>
          <tr>
            <th></th>
            <th colspan="13">←易 【皿難易度の目安】 難→</th>
          </tr>
          <tr>
            <th>LEVEL(☆)</th>
            <th colspan="3">無理皿 0～数枚</th>
            <th colspan="4"></th>
            <th colspan="3">予習推奨</th>
            <th>無理</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th>☆4</th>
          <td>-</td>
          <td class="folder-f">4F</td>
          <td class="folder-e">4E</td>
          <td class="folder-d">4D</td>
          <td class="folder-c">4C</td>
          <td class="folder-b">4B</td>
          <td></td>
          <td class="folder-a">4A</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>☆5</th>
          <td>-</td>
          <td></td>
          <td class="folder-f">5F</td>
          <td class="folder-e">5E</td>
          <td class="folder-d">5D</td>
          <td class="folder-c">5C</td>
          <td class="folder-b">5B</td>
          <td class="folder-a">5A</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>☆6</th>
          <td>-</td>
          <td></td>
          <td class="folder-f">6F</td>
          <td class="folder-e">6E</td>
          <td class="folder-d">6D</td>
          <td class="folder-c">6C</td>
          <td class="folder-b">6B</td>
          <td class="folder-a">6A</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>☆7</th>
          <td>-</td>
          <td></td>
          <td></td>
          <td class="folder-f">7F</td>
          <td class="folder-e">7E</td>
          <td class="folder-d">7D</td>
          <td class="folder-c">7C</td>
          <td class="folder-b">7B</td>
          <td></td>
          <td class="folder-a">7A</td>
          <td></td>
        </tr>
        <tr>
          <th>☆8</th>
          <td>-</td>
          <td></td>
          <td></td>
          <td class="folder-f">8F</td>
          <td></td>
          <td class="folder-e">8E</td>
          <td class="folder-d">8D</td>
          <td class="folder-c">8C</td>
          <td class="folder-b">8B</td>
          <td class="folder-a">8A</td>
          <td></td>
        </tr>
        <tr>
          <th>☆9</th>
          <td>-</td>
          <td colspan="9">調整中</td>
          <td class="folder-a">9A</td>
        </tr>
        </tbody>
      </table>
      <div class="caption">
          デビューの目安: DP八段 <span class="folder-e">6E</span>、DP十段 <span class="folder-d">6D</span>、DP皆伝 <span class="folder-c">6C</span>/<span class="folder-d">7D</span>
      </div>
